.advantages {
  padding-top: 130px;
  padding-bottom: 120px;
  @include small {
    padding-bottom: 160px;
  }
  @include mini {
    padding-top: 75px;
    padding-bottom: 70px;
  }
}

.advantages-list {
  height: 500px;
  display: flex;
  align-items: flex-start;
  counter-reset: advantages;
  @include small {
    flex-wrap: wrap;
    height: auto;
    justify-content: space-between;
  }
}

.advantage {
  margin-right: 45px;
  &:nth-child(even) {
    align-self: flex-end;
  }
  &:before {
    counter-increment: advantages;
    content: '0' counter(advantages);
    color: #fea052;
    @include playfair(700);
    font-size: 80px;
    opacity: 0.26;
    margin-bottom: 10px;
    display: block;
  }
  @include small {
    width: 40%;
    &:nth-child(odd) {
      margin-bottom: 170px;
      padding-top: 0;
    }
    &:before {
      font-size: 85px;
      line-height: 85px;
    }
  }
  @include mini {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    &:nth-child(odd) {
      margin-bottom: 20px;
    }
  }

  & p {
    @include raleway(300);
    color: #838383;
    margin-top: 20px;
    line-height: 25px;
  }
}