.advantages {
  height: 500px;
  display: flex;
  margin-top: 130px;
  align-items: flex-start;
  margin-bottom: 120px;
  counter-reset: advantages;
  @include small{
    flex-wrap: wrap;
    height: auto;
    justify-content: space-between;
    margin-bottom: 160px;
  }
}

.advantage {
  //flex: 1;
  margin-right: 45px;
  &:nth-child(2n) {
    align-self: flex-end;
  }
  &:before {
    counter-increment: advantages;
    content: '0'counter(advantages);
    color: #fea052;
    @include playfair(700);
    font-size: 80px;
    opacity: 0.26;
    margin-bottom: 10px;
    display: block;
  }
  @include small {
    width: 40%;
    &:nth-child(odd){
      margin-bottom: 170px;
      padding-top: 0;
    }
    &:before {
      font-size: 85px;
    }
  }

  & p {
    @include raleway(300);
    color: #838383;
    margin-top: 20px;
    line-height: 25px;
  }
}