.customer {
  height: 683px;
  display: flex;
  position: relative;
  @include small {
    height: 780px;
  }
}

.customer__background {
  background-color: #182c3d;
  width: 50%;
  height: 100%;
  @include small {
    position: absolute;
    width: 100%;
    opacity: 0.9;
    height: 100%;
  }
}

.customer__img {
  background: url('../img/feedback.jpg') no-repeat center right/cover;
  height: 100%;
  width: 50%;
  overflow: hidden;
  display: inline-block;
  @include small {
    width: 100%;
  }
}

//form

.customer__container {
  @include centered(x);
  padding-top: 66px;
  @include small {
    padding-top: 80px;
  }

}

.customer-form {
  color: white;
  width: 42%;
  margin-bottom: 85px;
  @include small {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.customer-form__title {
  color: white;
  font-size: 41px;
  width: 42%;
  margin-bottom: 20px;
  @include small {
    width: auto;
    text-align: center;
    font-size: 45px;
  }
}

.customer-form__subtitle {
  margin-bottom: 20px;
  font-size: 14px;
  @include raleway(400)
  opacity: 0.7;
  line-height: 24px;
  padding-right: 55px;
  @include small {
    font-size: 22px;
    margin-bottom: 40px;
  }
}

.customer-form__input {
  width: 100%;
  color: white;
  height: 45px;
  @include raleway(300);
  font-size: 14px;
  border: none;
  border-bottom: 1px solid white;
  background: no-repeat center right;
  opacity: 0.6;
  margin-bottom: 25px;
  &_name {
    background-image: url("../img/name.png")
  }
  &_tel {
    background-image: url("../img/tel.png")
  }
  &_mail {
    background-image: url("../img/mail.png")
  }

  &:focus {
    opacity: 1;
  }
  &::placeholder {
    color: white;
  }
  @include small {
    font-size: 18px;
  }
}

.customer-form__text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  @include small {
    font-size: 18px;
  }
}