.feedback-block {
  padding-top: 145px;
  padding-bottom: 176px;
  @include small {
    padding-bottom: 150px;
  }
}

.feedback__title {
  margin-bottom: 83px;
}

.feedback {
  margin: 0 auto;
  width: 85%;
  @include small {
    width: 100%;
  }
}

.feedback__slide {
  @include mini {
    padding-top: 40px;
  }
}

.feedback__item {
  width: 652px;
  height: 273px;
  background-color: white;
  padding-top: 44px;
  padding-left: 72px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 68px;
  @include small {
    margin-right: 94px;
  }
  @include mini {
    width: 100%;
    height: auto;
    padding: 195px 15px 55px 15px;
    text-align: center;
    margin-bottom: 50px;
  }
}

.feedback__name {
  @include raleway(600);
  font-size: 22px;
  color: #313131;
  margin-bottom: 8px;
}

.feedback__servece {
  @include raleway(700);
  color: #efb172;
  margin-bottom: 25px;
  @include small {
    font-size: 16px;
  }
  @include mini {
    font-size: 18px;
  }
}

.feedback__text {
  line-height: 25px;
  padding-right: 140px;
  @include small {
    font-size: 16px;
  }
  @include mini {
    font-size: 20px;
    padding: 0;
  }
}

.feedback__avatar {
  width: 215px;
  height: 192px;
  overflow: hidden;
  @include centered(y);
  right: -140px;
  margin-top: -10px;
  @include small {
    width: 188px;
    right: 0;
    transform: translateX(40%);
    margin-top: -100px;
  }
  @include mini {
    width: 215px;
    top: 60px;
    height: 195px;
    @include centered(x);
  }
}

.glide__arrow {
  @include small {
    display: none;
  }
}