.footer-block {
  background-color: #182c3d;
  height: 255px;
  color: #ffc487;
  @include raleway(500);
}

.footer {
  height: 255px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include small {
    font-size: 16px;
  }
}

.footer__copy {
}

.footer__design {
}

.footer__logo {
  text-align: center;
}

.footer__socials {
  margin-top: 40px;
}