.header{
  //height: 700px;
  @include small {
    height: 100vh;
    background: url("../img/header.jpg") no-repeat center center/cover;
    width: 100%;
  }
}

.hower {
  height: 770px;
  background-color: #112537;
  opacity: 0.97;
  width: 50%;
  position: absolute;
  z-index: 10;
  @include small {
    width: 100%;
    height: 100vh;
  }
}

.top-bar {
  z-index: 15;
  position: relative;
  padding-top: 24px;
  padding-bottom: 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include small {
    position: absolute;
    width: 100%;
    z-index: 130;
  }
}

.top-bar__menu-icon{
  margin-left: 7px;
  @include small {
    margin-left: auto;
  }
}

.top-bar__menu {
  background: #112537;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  animation: fadeEffect 0.4s;
  @include small {
    width: 98vw;
    height: 100vh;
    margin-left: -5vw;
  }
}
.menu__content {
  @include centered();
  text-align: center;
}
.menu__item {
  cursor: pointer;
  display: block;
  color: white;
  opacity: 0.5;
  @include raleway(600);
  font-size: 20px;
  text-transform: uppercase;
  &:not(:last-child) {
    margin-bottom: 45px;
  }
  &:hover {
    color: #f8a25a;
    opacity: 1;
  }
}

.top-bar__logo {
  @include centered(x);
  @include small {
    display: none;
  }
  &_white {
    display: none;
    width: 85px;
    height: 45px;
    @include small {
      display: block;
    }
  }
}

.top-bar__tel {
  font-size: 14px;
  font-family: 'MullerLight', sans-serif;
  background: url(../img/phone.png) no-repeat center left;
  padding-left: 22px;
  @include aColor(#252525);
  &-icon {
    margin-right: 10px;
  }
  @include small {
    display: none;
  }
}
