.slider {
  position: relative;
  color: white;
  height: 595px;
}

.slider__img {
  margin-bottom: 28px;
  height: 595px;
  &-block {
    @include small {
      display: none;
    }
  }
}

.slider__bottom {
  margin-bottom: 34px;
  display: flex;
  padding-top: 37px;
  justify-content: space-between;
  @include small {
    display: none;
  }
}

.slider-buttons__link {
  width: 26px;
  height: 3px;
  display: block;
}