.slider {
  position: relative;
  color: white;
  height: 595px;
}

.slider__img {
  margin-bottom: 28px;
  height: 595px;
}

.slider__block {
  z-index: 20;
  width: 50%;
  position: absolute;
  top: 1px;
  height: 580px;
}

.slider__headers {
  width: 375px;
  @include centered();
  margin-top: 12px;
}

.slider__subtitle{
    margin-top: 25px;
    margin-bottom: 38px;
    width: 345px;
    font-family: 'MullerLight', sans-serif;
  }

.slider__bottom {
  margin-bottom: 34px;
  display: flex;
  padding-top: 37px;
  justify-content: space-between;
}

.slider-buttons__link {
  width: 26px;
  height: 3px;
  display: block;
}