body {
  margin: 0;
  font-size: 16px;
  background-color: #fdfaf3;
  @include small{
  font-size: 18px;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
  @include raleway(300);
  color: #5e5e5e;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

.h1 {
  color: white;
  font-size: 61px;
  @include playfair(700);
  line-height: 59px;
  @include small {
    font-size: 100px;
    line-height: 100px;
  }
}

h2 {
  color: #00203a;
  font-size: 45px;
  @include playfair(700);

}

h4 {
  font-size: 22px;
  @include raleway(600);
  color: #1a292f;
  @include small {
    font-size: 24px;
  }
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  width: 1170px;
  margin: 0 auto;
  position: relative;
  @include w1200 {
    width: 90%;
  }
  @include small {
    width: 90%;
  }
}

body *:not(.slick-track):not(.slick-list){
  transition: all 0.2s ease;
}

